<html>
<link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/scoreboard_style.css')}}">
<style>
.content_title_block{
    width: 640px;
}

.content_scoreboard{
    bottom: 25;
}
</style>


<script>
var scoreboard_updated = true;

var lane_running = {};
var lane_place_blank = {};
var lane_time_blank = {};
var lane_name_blank = {};
var last_event = 0;
var last_heat = 0;
var last_state = 0; // hidden
var current_state = 0; // hidden
var scoreboard_paused = false;


function on_timer(){
    var months = {0: "January", 1: "February", 2: "March", 3: "April", 4: "May", 5: "June", 6: "July", 7: "August", 8: "September", 9: "October", 10: "November", 11: "December"};

    // Update current time
    var d = new Date();
    var hoursAmPm = (d.getHours() % 12);
    hoursAmPm = (hoursAmPm != 0) ? hoursAmPm : 12;
    document.getElementById("meet_datetime").innerHTML = months[d.getMonth()] + " " + d.getDate() + ", " + d.getFullYear() + " " + hoursAmPm + ":" + ("0" + d.getMinutes()).slice(-2);
    
    if (!scoreboard_updated) mode_to_hidden();
    scoreboard_updated = false;
}

function init() {
    on_timer();
    // Start timer every second
    window.setInterval(on_timer, 30000);
}

function mode_to_hidden(){
    document.getElementById("event_name").style.display = "none";
    document.getElementById("scoreboard").style.opacity = 0;
}

function mode_to_intro(){
    // Need to hide event place and time column, show name
    document.getElementById("event_name").style.display = "block";
    document.getElementById("scoreboard_place_col").style.width = '0px';
    document.getElementById("scoreboard_place_col").style.maxWidth = '0px';
    document.getElementById("scoreboard_time_col").style.width = '0px';
    document.getElementById("scoreboard_time_col").style.maxWidth = '0px';
    document.getElementById("scoreboard_name_col").style.width = '400px';
    document.getElementById("scoreboard_name_col").style.maxWidth = '400px';
    document.getElementById("content_scoreboard_ad").style.opacity = 1;
    if (document.getElementById("scoreboard").style.opacity != 1) {
        setTimeout ( function() {
            document.getElementById("scoreboard").style.opacity = 1;
        }, 500);
    }
    setTimeout ( function() {
        if (current_state == 1) document.getElementById("scoreboard_time_col").innerHTML = '';
    }, 500);
    
    // Pause updates to scoreboard for 10 seconds
    scoreboard_paused = true;
    setTimeout (function() {scoreboard_paused = false;}, 10000);
}

function mode_to_running(){
    // Need to hide event title and name column
    document.getElementById("event_name").style.display = "block";
    document.getElementById("scoreboard_place_col").style.width = '80px';
    document.getElementById("scoreboard_place_col").style.maxWidth = '80px';
    document.getElementById("scoreboard_time_col").style.width = '150px';
    document.getElementById("scoreboard_time_col").style.maxWidth = '150px';
    document.getElementById("scoreboard_time_col").innerHTML = 'Time';
    document.getElementById("scoreboard_name_col").style.width = '0px';
    document.getElementById("scoreboard_name_col").style.maxWidth = '0px';
    document.getElementById("content_scoreboard_ad").style.opacity = 0;
    if (document.getElementById("scoreboard").style.opacity != 1) {
        setTimeout ( function() {
            document.getElementById("scoreboard").style.opacity = 1;
        }, 500);
    }
}
    
function mode_to_results(){
    // Need to hide event title and name column
    document.getElementById("event_name").style.display = "block";
    document.getElementById("scoreboard_place_col").style.width = '80px';
    document.getElementById("scoreboard_place_col").style.maxWidth = '80px';
    document.getElementById("scoreboard_time_col").style.width = '150px';
    document.getElementById("scoreboard_time_col").style.maxWidth = '150px';
    document.getElementById("scoreboard_time_col").innerHTML = 'Time';
    document.getElementById("scoreboard_name_col").style.width = '400px';
    document.getElementById("scoreboard_name_col").style.maxWidth = '400px';
    document.getElementById("content_scoreboard_ad").style.opacity = 1;
    if (document.getElementById("scoreboard").style.opacity != 1) {
        setTimeout ( function() {
            document.getElementById("scoreboard").style.opacity = 1;
        }, 500);
    }
    
    // Pause updates to scoreboard for 10 seconds
    scoreboard_paused = true;
    setTimeout (function() {scoreboard_paused = false;}, 10000);
}


</script>

<body style="margin:0px" onload="init();">
<div class="content_outer"> 
   <div class="content_scoreboard" id="scoreboard" style="display:none;">      
        <div class="content_scoreboard_ad" id="content_scoreboard_ad">
        {% if ad_url and (ad_url != '') %}
            <img src="{{url_for('static', filename='ad/'+ad_url)}}" width="100%"/>
         {% endif %}
        </div>
        <div class="content_scoreboard_table">
            <table class="scoreboard_table">
            <thead>
                <tr><th colspan="4" class="scoreboard_title">Event: <span id="current_event"></span>    Heat: <span id="current_heat"></span></th></tr>
                
                <tr class="scoreboard_header"> 
                    <th align="center" id="scoreboard_lane_col" style="width:  80px;max-width:  80px;">Lane</th>
                    <th align="center" id="scoreboard_place_col" class="scoreboard_place_col anim">Place</th>
                    <th align="center" id="scoreboard_time_col" class="scoreboard_time_col anim">Time</th>
                    <th align="center" id="scoreboard_name_col" class="scoreboard_name_col anim">Name</th></tr>
            </thead>
                <tr class="scoreboard_row_odd"><td align="center">1</td><td id="lane_place1" align="center"></td><td align="right"><span id="lane_time1"></span>&nbsp;</td><td id="lane_name1" class="lane_name">&nbsp;</td></tr>
                <tr class="scoreboard_row_eve"><td align="center">2</td><td id="lane_place2" align="center"></td><td align="right"><span id="lane_time2"></span>&nbsp;</td><td id="lane_name2" class="lane_name">&nbsp;</td></tr>
                <tr class="scoreboard_row_odd"><td align="center">3</td><td id="lane_place3" align="center"></td><td align="right"><span id="lane_time3"></span>&nbsp;</td><td id="lane_name3" class="lane_name">&nbsp;</td></tr>
                <tr class="scoreboard_row_eve"><td align="center">4</td><td id="lane_place4" align="center"></td><td align="right"><span id="lane_time4"></span>&nbsp;</td><td id="lane_name4" class="lane_name">&nbsp;</td></tr>
                <tr class="scoreboard_row_odd"><td align="center">5</td><td id="lane_place5" align="center"></td><td align="right"><span id="lane_time5"></span>&nbsp;</td><td id="lane_name5" class="lane_name">&nbsp;</td></tr>
                <tr class="scoreboard_row_eve"><td align="center">6</td><td id="lane_place6" align="center"></td><td align="right"><span id="lane_time6"></span>&nbsp;</td><td id="lane_name6" class="lane_name">&nbsp;</td></tr>
            </table>
        </div>        
    </div>
    <div class="content_title_block">
        <div class="content_meet_title">{{ meet_title }}</div>
        <div class="content_event_name"><span id="event_name" class="anim"></span></div>
        <div class="content_meet_date"><span id="meet_datetime"></span></div>
    </div>
    {% if test_background %}
    <div class="controls">
        <button type="button" onclick="mode_to_hidden();">Hide</button>
        <button type="button" onclick="mode_to_intro();">Intro</button>
        <button type="button" onclick="mode_to_running();">Running</button>
        <button type="button" onclick="mode_to_results();">Results</button>
        <br/>
        <button type="button" onclick="socket.emit('next_heat', {});">Next Heat</button>
        
    </div>
    {% endif %}
</div>
<div class="background">
{% if test_background %}
<img src="{{url_for('static', filename='States.jpg')}}" width="100%"/>
{% endif %}
</div>

</body>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var s = {}

    var socket = io.connect('http://' + document.domain + ':' + location.port + '/scoreboard');
    socket.on('connect', function() {});
    
    socket.on('update_scoreboard', (new_s) => {
        scoreboard_updated = true;
        
        for (k in new_s) {
            s[k]=new_s[k];
        }
        
        if (scoreboard_paused) return;
        
        var valid_fields = [
            "content_meet_title",
            "current_event",
            "current_heat",
            "event_name",
            "lane_place1",
            "lane_place2",
            "lane_place3",
            "lane_place4",
            "lane_place5",
            "lane_place6",
            "lane_time1",
            "lane_time2",
            "lane_time3",
            "lane_time4",
            "lane_time5",
            "lane_time6",
            "lane_name1",
            "lane_name2",
            "lane_name3",
            "lane_name4",
            "lane_name5",
            "lane_name6",
        ];
        
        var message_keys = Object.keys(s);
        var no_names = false;
        
        message_keys.forEach( (k) => {
            if (valid_fields.indexOf(k) > 0) {
                document.getElementById(k).innerHTML = s[k];
            }
            
            // Check and update lane running
            if (k.startsWith("lane_running")) {
                lane_running[k.replace("lane_running","")]=s[k];
            }
            
            // Check for lane time blank
            if(k.startsWith("lane_time")){
                lane_time_blank[k.replace("lane_time","")] = (s[k].trim() == "");
            }
            
            // Check for lane place blank
            if(k.startsWith("lane_place")){
                lane_place_blank[k.replace("lane_place","")] = (s[k].trim() == "");
            }            
            // Check for lane name blank
            if(k.startsWith("lane_name")){
                lane_name_blank[k.replace("lane_name","")] = (s[k].trim() == "");
            }

        })
        
        // Fill in the running time
        if ("running_time" in s) {
            for (var i=1; i <= 6; i++) {
                if (lane_running[i] || false){
                    document.getElementById("lane_time"+i).innerHTML = s["running_time"];
                }
            }
        }

        // Check for new heat or event
        if ("current_event" in s){
            if (s["current_event"] != last_event){
                last_event = s["current_event"];
                current_state = 1; // Intro
            }
        }
        if ("current_heat" in s){
            if (s["current_heat"] != last_heat){
                last_heat = s["current_heat"];
                current_state = 1; // Intro
            }
        }
        
        // Check for all lanes done
        // ToDo: (running == true) || ((place == "") && (time != ""))
        if (current_state != 1) {
            var all_done = true;
            for (var i=1;i<=6;i++){
                if (((i in lane_running) && lane_running[i]) ||
                   (((i in lane_place_blank) && lane_place_blank[i] &&
                    ((i in lane_time_blank) && !lane_time_blank[i])))) 
                {
                    all_done = false;
                    break;
                }
            }
            if (all_done) current_state = 3; // Results
        }
        
        // If there are no names, don't do intro or results
        no_names = true;
        if ((current_state == 1) || (current_state == 3)) {
            for (var i=1;i<=6;i++){
                if ((i in lane_name_blank) && !lane_name_blank[i]) 
                {
                    no_names = false;
                    break;
                }
            }
        }
        
        // Check for any lanes running
        for (var i=1; i<=6; i++) {
            if (lane_running[i]||false) {
                current_state = 2; // Running
                break;
            }
        }
        
        if (current_state != last_state) {
            switch (current_state){
                case 0: // Hidden
                    mode_to_hidden();
                    break;
                case 1: // Intro 
                    if (no_names) {
                        mode_to_running();
                    } else {
                        mode_to_intro();
                    }
                    setTimeout (function() {
                        if (current_state == 1) {
                            mode_to_hidden();
                        }
                    }, 20000);
                    break;
                case 2: // Running
                    mode_to_running();
                    break;
                case 3: // Results
                    if (no_names) {
                        mode_to_running();
                        // Pause updates to scoreboard for 10 seconds
                        scoreboard_paused = true;
                        setTimeout (function() {scoreboard_paused = false;}, 10000);
                    } else {
                        mode_to_results();
                    }
                    setTimeout (function() {
                        if (current_state == 3) {
                            mode_to_hidden();
                        }
                    }, 20000);
                    break;
            }
            last_state = current_state;
        }
                
        document.getElementById("scoreboard").style.display = "block";
        
        s={};
    });
    
</script>

</html>
