<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<!--<link rel="icon" href="../../favicon.ico">-->

<title>CTS Scoreboard: Schedule Preview</title>

<!-- Bootstrap core CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Custom styles for this template -->
<!-- <link href="jumbotron-narrow.css" rel="stylesheet"> -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<style>
.input-group {
    width: 100%;
}
</style>


<body>

<div class="container">
    <div class="jumbotron">
        <h1>CTS Scoreboard</h1>
        <h2>Schedule Preview</h2>
    </div>


    <div class="row"><div class="col-lg-8">
    <form id="event_form" action="/schedule_preview" method="post">
        {% for event, heat in event_heat %}
            <table class="table table-hover">
                <thead><tr><th scope="col">Event {{event}}</th><th scope="col">Heat {{heat}}</th>
                <th>
                    {% if event in event_names %}
                        {{ event_names[event] }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </th>
                {% if show_combine_select %}
                    <th>
                        <select name="combine_{{event}}_{{heat}}" id="combine_{{event}}_{{heat}}">
                            <option value="">Not Combined</option>
                            {% for target_event, target_heat in event_heat %}
                                <option value="{{target_event}},{{target_heat}}" 
                                {% if ((event, heat) in combined) and (combined[(event, heat)] == (target_event, target_heat)) %}
                                selected
                                {% endif %}
                                >Event {{target_event}} Heat {{target_heat}}</option>
                            {% endfor %}
                        </select>
                    </th>
                {% endif %}
                </tr></thead>
                {% for lane in events[(event, heat)] %}
                    <tr><td></td><td>{{lane}}</td><td>{{events[(event, heat)][lane]}}</td></tr>
                {% endfor %}
            </table>
            <br/>
        {% endfor %}
        </form>
    </div></div>

    <div class="row">
        {% if show_combine_select %}
            <div class="col-md-4">
                <input type="button" value="Submit" class="btn btn-default" onclick="document.getElementById('event_form').submit();" />
            </div>            
            <div class="col-md-4"><form action="/schedule_preview">
                <input type="submit" value="Cancel" class="btn btn-default"/>
            </form></div>
        {% else %}
            <div class="col-md-4"><form action="/settings">
                <input type="submit" value="Settings" class="btn btn-default"/>
            </form></div>
            <div class="col-md-4"><form action="/combine_events">
                <input type="submit" value="Combine Events" class="btn btn-default"/>
            </form></div>
            <div class="col-md-4"><form action="/logout">
                <input type="submit" value="Log Out" class="btn btn-default"/>
            </form></div>
        {% endif %}

    </div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>