<html>

<script>
function password_check(form) {
    document.getElementById('password_submit').style.visibility='visible';
    
    if ((form.password1.value == form.password2.value) && (form.password1.value.length > 3)) {
        document.getElementById('password_submit').disabled = false;
    } else {
        document.getElementById('password_submit').disabled = true;
    }
}
</script>

<body style="margin:0px" onload="">
<div style="width:800px; margin:0 auto">
<h1>CTS Scoreboard</h1>
<h2>Settings</h2>
<form action="/settings" method="POST">
    <p>Meet Title:<br/>
    <input name="meet_title" value="{{ meet_title }}" size="100" oninput="document.getElementById('meet_title_submit').style.visibility='visible';"></input>
    <input id="meet_title_submit" type="submit" value="Update" style="visibility:hidden">
    </p>
</form>
<form action="/settings" method="POST">
    <p>Serial Port:<br/>
    <select name="serial_port" style="width:400" oninput="document.getElementById('serial_port_submit').style.visibility='visible';">
    {% for port, desc in serial_port_list %}
        {% if port == serial_port %}
            <option value="{{port}}" selected>{{desc}}</option>
        {% else %}
            <option value="{{port}}">{{desc}}</option>
        {% endif %}
        <dt>{{ key|e }}</dt>
        <dd>{{ value|e }}</dd>
    {% endfor %}
    </select>
    <input id="serial_port_submit" type="submit" value="Update" style="visibility:hidden">
    </p>
</form>
<form action="/settings" method="POST">
    <p>Username:<br/>
    <input name="user_name" value="{{ user_name }}" size="50" oninput="document.getElementById('user_name_submit').style.visibility='visible';"></input>
    <input id="user_name_submit" type="submit" value="Update" style="visibility:hidden">
    </p>
</form>
<form action="/settings" method="POST">
    <p>Change Password:<br/>
    <input name="password1" type="password" size="50" oninput="password_check(this.form);"></input><br/>
    Verify Password:</br>
    <input name="password2" type="password" size="50" oninput="password_check(this.form);"></input>
    <input id="password_submit" type="submit" value="Update" style="visibility:hidden" disabled />
    </p>
</form>
<form action="/logout">
    <input type="submit" value="Log Out"/>
</form>
</div>
</body>
</html>